<h1>kama pona</h1>

<p>jan ale o, kama pona!</p>

<h2>{{ T "pages" }}</h2>

<div class="card card--no-padding">
    <a class="nlp-list__item" href="/">
        {{ T "homepage" }}
    </a>
</div>

<h2>{{ T "lessons" }}</h2>

<div class="card card--no-padding">
    {{ $section := where $.Site.RegularPages.ByWeight "Section" "lessons" }}
    {{ range $item := $section }}
    <a class="nlp-list__item" href="{{ $item.Permalink }}">
        {{ $item.Title }}
    </a>
    {{ end }}
</div>

<h2>{{ T "analyses" }}</h2>

<div class="card card--no-padding">
    {{ $section := where $.Site.RegularPages.ByWeight "Section" "analyses" }}
    {{ range $item := $section }}
    <a class="nlp-list__item" href="{{ $item.Permalink }}">
        {{ $item.Title }}
    </a>
    {{ end }}
</div>