.nlp-flipcard-gallery {
    columns: 2;
    width: 100%;
}

@media screen and (max-width: 799px) {
    .nlp-flipcard-gallery {
        columns: 1;
        .nlp-flipcard {
            margin: 0px;
            margin-bottom: 20px;
        }
    }
}

.nlp-flipcard {
    display: block;
    perspective: 600px;
    width: 100%;
    height: 100px;
    cursor: pointer;
    margin: 0px 10px;
    margin-bottom: 20px;

    &--flipped &__inner {
        transform: rotateX(180deg);
    }

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.3s;
        transform-style: preserve-3d;

        @include medium-float;
    }
    &__back {
        transform: rotateX( 180deg );
    }
    &__front, &__back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;

        display: grid;
        place-items: center;

        color: var(--on-card);
        background-color: var(--card-bg);
        border: 1px solid var(--rim);
        border-radius: 4px;
        box-sizing: border-box;
    }
}