$button-el: 1;
$scrim-el: 2;
$content-el: 3;

.nlp-paned {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
}

.nlp-scrim {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    opacity: 0;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.8, 0, 0.2, 1);

    z-index: $scrim-el;

    &--open {
        opacity: 1;
        pointer-events: all;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
}

.nlp-scrim__padder {
    min-height: 100vh;
}

.nlp-drawer-button {
    position: fixed;
    bottom: 16px;
    left: 16px;
    height: 48px;
    width: 48px;

    border-radius: 4px;
    background-color: var(--card-bg);
    border: 1px solid var(--rim);

    display: grid;
    place-items: center;

    z-index: $button-el;

    &:active {
        filter: brightness(90%);
    }

    @include medium-float;
}

.footer-line {
    background-color: var(--chrome);
    border-top: 1px solid var(--rim);
    border-bottom: 0;
    margin-left: 10vw;
    margin-right: 10vw;
}

.nlp-footer {
    background-color: var(--chrome);
    padding-left: 10vw;
}

.nlp-paned__left {
    background-color: var(--chrome);

    padding: 32px 16px 16px;
}
.nlp-paned__right {
    background-color: var(--view);
    padding: 32px 16px;
}

.nlp-list__item {
    display: block;
    padding: 16px 14px;
}

blockquote {
    border-left: 4px solid var(--rim);
    padding-left: 16px;
    margin: 20px 0px;
    &, p {
        color: var(--on-view-faint);
    }
}

@media screen and (max-width: 799px) {
    .nlp-paned__left {
        display: none;
        transform: translateY(100%);

        transition: transform 600ms cubic-bezier(0.8, 0, 0.2, 1);

        z-index: $content-el;

        &--open {
            border-radius: 24px 24px 0px 0px;
            display: initial;
            transform: none;
        }
    }
    .nlp-paned__right {
        flex: 0 1 100%;
    }
}

@media screen and (min-width: 800px) {
    .nlp-drawer-button, .nlp-scrim {
        display: none;
    }
    .nlp-content {
        max-width: 40vw;
    }
    .nlp-paned__left {
        flex: 0 1 300px;
        min-height: 100%;
    }
    .nlp-paned__right {
        flex: 1 1 300px;
        min-height: 100%;
    }
}
