.card {
    background: var(--card-bg);
    border: 1px solid var(--rim);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px;
    display: block;

    @include medium-float;

    &--wide {
        width: 100%;
    }

    &--no-padding {
        padding: 0;
    }
}