@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 25pt;
    line-height: 34px;
    font-weight: 800;

    width: 100%;
}

h2 {
    font-size: 21pt;
    line-height: 28px;
    font-weight: bold;
}

h4 {
    font-size: 18pt;
    line-height: 20pt;
    font-weight: 500;
}

p {
    font-size: 16pt;
    margin: 4pt 0pt;
}